.product-page {
  padding: 0px 16px;
  padding-bottom: 10px;

  &__loader {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: center;
  }

  &__back-button {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;

    &__loader {
      margin-top: 15vh;
      margin-bottom: 15vh;
    }
  }

  @media (min-width: 992px) {
    padding-left: 100px;
    padding-right: 39px;

    &__loader {
      margin-top: 20vh;
      margin-bottom: 20vh;
    }
  }
}
