.card-feed {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-rows: auto;
}

@media (min-width: 768px) {
  .card-feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
  }
}

@media (min-width: 992px) {
  .card-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
  }
}

.card-action-slot {
  display: flex;

  gap: 10px;
  align-items: center;

  @media (min-width: 768px) {
    gap: 15px;
  }
}

.card__button {
  border-radius: 5px;
}
